<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 포그라운드 서비스 권한 추가 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 와이파이 스캔하기 위한 권한 추가 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_SCAN" /> <!-- Android 12 이상에서 Wi-Fi 스캔을 위한 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <package android:name="com.starbucks.co" /> <!-- 스타벅스 -->
        <package android:name="com.cj.twosome" /> <!-- 투썸 -->
        <package android:name="com.lgt.tmoney" /> <!-- 티머니 -->
        <package android:name="kr.co.symtra.kmuid" /> <!-- K-card -->
        <package android:name="com.truefriend.neosmartarenewal" /> <!-- 한투 -->
        <package android:name="com.kbstar.kbbank" /> <!-- 투썸 -->
        <package android:name="kr.co.tmoney.tiay" /> <!-- 티머니 -->
        <package android:name="kr.co.symtra.kmuid" /> <!-- K-card -->
        <package android:name="nh.smart.banking" /> <!-- 스타벅스 -->
        <package android:name="com.kebhana.hanapush" /> <!-- 투썸 -->
        <package android:name="viva.republica.toss" /> <!-- 티머니 -->
        <package android:name="com.kiwoom.heromts" /> <!-- K-card -->
    </queries>

    <application
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Custom URL scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mynewproject" android:host="open" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>

        <!-- Geofence 이벤트 처리하는 BroadcastReceiver -->
        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.location.GeofenceTransitionsIntentService" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.TimeReceiver" android:exported="false"/>

        <!-- 포그라운드 서비스 선언 -->
        <service
            android:name=".LocationForegroundService"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:exported="false"
            android:foregroundServiceType="location" />


    </application>
</manifest>
